/*Chat Box Interface*/
body {
    font-family: 'Lato', sans-serif;
}
.chat-body {
    overflow-y: scroll;
    overflow-x: hidden;
}
.chatBot {
	height: 300px;
	border: 1px solid #0b192f;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 1;
    width: 300px;
    padding: 10px;
	overflow-y: auto;
	box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 8px 12px 0 rgb(0, 0, 0);
	position: fixed;
	top: 20%;
	left: 30%;
}
.question {
	border: 1px solid #0b192f;
	border-radius: 5px;
	width: 50%;
	margin-bottom: 10px;
	float: left;
}
.question h5 {
	background-color: #0b192f;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}
.question p {
	padding: 10px;
}
.answer {
	border: 1px solid #d12767;
	border-radius: 5px;
	width: 50%;
	margin-bottom: 30px;
	float: right;
}
.answer h5 {
	background-color: #d12767;
	margin-bottom: 10px;
	font-size: 18px;
	padding: 10px;
	color: #fff;
}
.answer p {
	padding: 10px;
}
.text {
	/*background-color: black;*/
	padding: 10px;
	width: 100%;
	position: relative;
	top: 82%;
}
.form {
	background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 6px 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all 300ms linear;
    width: 70%;
    font-size: 14px;
    line-height: 1.42857143;

}
.form:focus {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #333333;
}
textarea.form {
	resize: none;
	height: 35px;
	overflow: auto;
}
button {
	overflow: visible;
}
.mybtn {
	display: inline;
	background-color: #4CAF50;
	color: #FFFFFF;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    touch-action: manipulation;
}
.clickMe {
	cursor: pointer;
}

/*ChatBox Interface*/
/*Message Box*/
.chatbox {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    padding: 10px;
}
.chatbox.right {
    margin-left: 0px;
}

.chatbox.left {
    margin-left: 50px;
}
.chatbox.right::before {
    position: absolute;
    top: 67%;
    left: 0;
    width: 0;
    height: 0;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #274970;
    content: '';
}
.chatbox.right::after {
    position: absolute;
    top: 67%;
    left: 2px;
    width: 0;
    height: 0;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f9f9f9;
    content: '';
}

.chatbox.left::before {
    position: absolute;
    top: 50%;
    left: 250px;
    width: 0;
    height: 0;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid #274970;
    content: '';
}

.chatbox.left::after {
    position: absolute;
    top: 50%;
    left: 248px;
    width: 0;		
    height: 0;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid #274970;
    content: '';
}

.chatbox-inner {
    padding: 2px;
    width: 240px;
    overflow: hidden;
    background: black;
    background: #274970;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.chatbox-content {
    padding: 14px;
    margin: 0;
    background-color: #f9f9f9;
    color: #274970;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.chatbox-content.left {
    padding: 14px;
    margin: 0;
    background-color: #274970;
    color: #f9f9f9;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.chat-body{
	height: 400px;
}

.chat-header{
	margin-top: 20px;
	height: 90px;
	border-bottom:1px solid #ddd;
	/*background-color: #ff0;	*/
	width: 100%;

}
.logo{
	margin-right: 5px; 
}
.logo-name{
    display: inline-block;
	font-weight: bold;
    color: #274970;
    font-size: 20px;
}
i{
	color: #274970;

}
.input-group-addon{
	background-color: #fff;
	border-left: 0px;

}

input{
	border-right: 0px !important;
}
.input-group {
        margin-top: 80px;
    }

.second-panel{
	margin-top:100px;
}

.name, .description{
	color: #274970;
}

.name{
	font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}

.description{
	font-size: 18px;
	font-weight: bold;
}

/* On smaller screens */
 @media screen and (max-width: 760px) {
    .second-panel{
        display: none;
    }
    .chat-header {
        height: 55px;
    }
    input[type="text"] {
        font-size: 17px;
        padding: 20px;
    }
    .input-group {
        margin-top: 120px;
    }
    .logo{
    width: 12%;
    margin-right: 10px; 
    }
 }